#root{
    background-color: bisque;
   
}

    .mainHeader{
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
    .mainImg{
        display: flex;
        flex-wrap: wrap;
        justify-content: 1rem, 2rem;
        margin: 5px;
        border: 1px solid #ccc;
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .secondImg{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 5px;
            width: 180px;
    }